@page
@model BibliotheksSoftware.Pages.MedienrechercheModel
@{
    ViewData["Title"] = "Medienrecherche";
}


<head>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/js/medienrecherche.js"></script>
</head>

<h4>Medienrecherche</h4>

<div class="row">
    <div class="input-group col">
        <input type="text" id="txtFilter" class="form-control" placeholder="Suchbegriff eingeben..." aria-label="Suchbegriff">
        <button type="button" class="btn btn-outline-dark" id="btnSearch">Suchen</button>
    </div>


</div>

<div class="mt-4">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th class="text-center">
                    Sachtitel
                </th>
                <th class="text-center">
                    Verfasser
                </th>
                <th class="text-center">
                    Syst.
                </th>
                <th class="text-center">
                    MNr.
                </th>
                <th class="text-center">
                    Jahr
                </th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <ul id="lstMedien"></ul>
</div>
</div>
