@page
@model BibliotheksSoftware.Pages.Pages_Benutzerdatenpflege
@{
}


<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#stammdaten" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Stammdaten</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#zusaetze" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Zusätze, Hinweise</button>
        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#berechtigungen" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Berechtigungen, Passwort</button>
    </div>
</nav>

<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="stammdaten" role="tabpanel" aria-labelledby="nav-home-tab">Stammdaten</div>
    <div class="tab-pane fade" id="zusaetze" role="tabpanel" aria-labelledby="nav-profile-tab">zusaetze</div>

    <!--berechtigungen-->
    <div class="tab-pane fade" id="berechtigungen" role="tabpanel" aria-labelledby="nav-contact-tab">
        
        <div class="row">
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3 ">
                    <span class="input-group-text">Passwort:</span>
                    <input id="txtPasswort" type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3 ">
                    <span class="input-group-text">Geändert am:</span>
                    <input id="txtGeaendertAm" type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" >
                </div>
            </div>
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3 ">
                    <span class="input-group-text">Aktueller Kontostand</span>
                    <input id="txtAktuellerKontostand" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" style="width:300px">
                </div>
            </div>
        </div>

        <div id="BerechtigungenGrid">
            <div class="row">
            <div class="col-sm">
            One of three columns
            </div>
            <div class="col-sm">
            One of three columns
            </div>
            <div class="col-sm">
            One of three columns
            </div>
            </div>
        </div>

    </div>

    <!--Inhalt-->
    <div class="tab-pane fade" id="inhalt" role="tabpanel" aria-labelledby="nav-contact-tab">Inhalt</div>

    <div class="tab-pane fade" id="weiteres" role="tabpanel" aria-labelledby="nav-contact-tab">weitere Felder</div>
</div>


@* grid:

    <div class="row">
    <div class="col-sm">
    One of three columns
    </div>
    <div class="col-sm">
    One of three columns
    </div>
    <div class="col-sm">
    One of three columns
    </div>
    </div>
*@