@page
@model BibliotheksSoftware.Pages.Pages_Benutzerdatenpflege
@{
}
<head>
    <link rel="stylesheet" href="~/css/Mediendatenpflege.css" type="text/css" />
</head>


<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#stammdaten" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Stammdaten</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#zusaetze" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Zusätze, Hinweise</button>
        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#berechtigungen" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Berechtigungen, Passwort</button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">

    
<!-- Stammdaten -->
    <div class="tab-pane fade show active" id="stammdaten" role="tabpanel" aria-labelledby="nav-home-tab">
        
        <div class="row">
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3 ">
                    <span class="input-group-text">Benutzernummer</span>
                    <input id="txtBenutzernummer" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>
            <!--  <div class="col-sm">
                Buttons?
            </div>  -->
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3 ">
                    <span class="input-group-text">Aktueller Kontostand</span>
                    <input id="txtAktuellerKontostand" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" style="width:300px">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3 ">
                    <span class="input-group-text">Titel, Anrede</span>
                    <input id="txtTitel" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" style="width:300px">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3 ">
                    <span class="input-group-text">Familienname</span>
                    <input id="txtFamilienname" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3 ">
                    <span class="input-group-text">Vorname</span>
                    <input id="txtVorname" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" style="width:300px">
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3 ">
                    <span class="input-group-text text-primary">Benutzergruppe</span>
                    <input id="txtBenutzergruppe" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3 ">
                    <span class="input-group-text text-primary">Gebührengruppe</span>
                    <input id="txtGebuehrengruppe" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3 ">
                    <span class="input-group-text text-primary">ABO gültig bis</span>
                    <input id="txtAboGueltigBis" type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" style="width:300px">
                </div>
            </div>
        </div>
        <br />

            <div class="input-group input-group-sm mb-3 ">
                <span class="input-group-text">Straße, Hausnummer</span>
                <input id="txtStrasseHausnummer" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" style="width:300px">
            </div>
            
            <div class="input-group input-group-sm mb-3 ">
                <span class="input-group-text">Postleitzahl, Wohnort</span>
                <input id="txtVorname" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" style="width:300px">
            </div>
        
        <div class="row">
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3 ">
                    <span class="input-group-text">Telefon (Festnetz)</span>
                    <input id="txtTelefonFestnetz" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3 ">
                    <span class="input-group-text">Mobiltelefon</span>
                    <input id="txtMobilTelefon" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3 ">
                    <span class="input-group-text">Geburtsdatum</span>
                    <input id="txtGeburtsdatum" type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3 ">
                    <span class="input-group-text">@@</span>
                    <input id="txtEmail" type="email" placeholder="E-Mail Adresse" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="cbHinweisEinblenden">
            <label class="form-check-label" for="cbDiViBibOnleihe">
                DiViBib Onleihe
            </label>
        </div>

    </div>

    
<!-- Zusaetze -->
    <div class="tab-pane fade" id="zusaetze" role="tabpanel" aria-labelledby="nav-profile-tab">
        
        <br />
      <div class="form-group">
        <label for="txbVerhaltenshinweis">Verhaltenshinweis</label>
        <textarea placeholder="(... wird beim Verleih eingeblendet!)" class="form-control" id="txbVerhaltenshinweis" rows="3"></textarea>
      </div>

      <br />
      <div class="form-group">
        <label for="txbPersNachricht">Persönliche Nachricht</label>
        <textarea placeholder="(... wird im OPAC eingeblendet!)" class="form-control" id="txbVerhaltenshinweis" rows="3"></textarea>
      </div>
      
      <br />
      <div class="form-group">
        <label for="txtVerleihsperre">Verleihsperre (Grund)</label>
        <input class="form-control" id="txtVerleihsperre" />
      </div>
      
      <br />
      <div class="form-group">
        <label for="txtAnmerkung">Anmerkung</label>
        <input class="form-control" id="txtAnmerkung" />
      </div>

      
      <br />
      
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="cbHinweisEinblenden">
          <label class="form-check-label" for="cbHinweisEinblenden">
            Hinweis bei Wiederentlehnung eines vom Benutzer bereits früher einmal entlehnten Mediums einblenden
          </label>
        </div>

        <br /><br />
        <div class="row">
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3 ">
                    <span class="input-group-text">kein @@-Export</span>
                    <input id="txtAtExport" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3 ">
                    <span class="input-group-text">Organisation</span>
                    <input id="txtOrganisation" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3 ">
                    <span class="input-group-text">erfasst am</span>
                    <input id="txtErfasstAm" type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3 ">
                    <span class="input-group-text">erfasst von</span>
                    <input id="txtErfasstVon" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" >
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3 ">
                    <span class="input-group-text">geändert am</span>
                    <input id="txtGeaendertAm" type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3 ">
                    <span class="input-group-text">geändert von</span>
                    <input id="txtGeaendertVon" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" >
                </div>
            </div>
        </div>

    </div>

    <!--berechtigungen-->
    <br />
    <div class="tab-pane fade" id="berechtigungen" role="tabpanel" aria-labelledby="nav-contact-tab">
        
        <div class="row">
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3 ">
                    <span class="input-group-text">Passwort:</span>
                    <input id="txtPasswort" type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                </div>
            </div>
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3 ">
                    <span class="input-group-text">Geändert am:</span>
                    <input id="txtGeaendertAm" type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" >
                </div>
            </div>
            <div class="col-sm">
                <div class="input-group input-group-sm mb-3 ">
                    <span class="input-group-text">Aktueller Kontostand</span>
                    <input id="txtAktuellerKontostand" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" style="width:300px">
                </div>
            </div>
        </div>

         <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th >
                  Mitarbeiter-Berechtigungen
              </th>
              <th class="text-center">
                Zugriff
              </th>
              <th class="text-center">
                Neuanlage
              </th>
              <th class="text-center">
                Ändern
              </th>
              <th class="text-center">
                Löschen
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="text-nowrap" scope="row">Mediendatenpflege</th>
              <td><input id="cbMedienZugriff" class="form-check-input" type="checkbox" class="checkbox-big"/></td>
              <td><input id="cbMedienNeu" class="form-check-input" type="checkbox" class="checkbox-big"/></td>
              <td><input id="cbMedienAendern" class="form-check-input" type="checkbox" class="checkbox-big"/></td>
              <td><input id="cbMedienLoeschen" class="form-check-input" type="checkbox" class="checkbox-big"/></td>
            </tr>
            <tr>
              <th class="text-nowrap" scope="row">Benutzerdatenpflege</th>
              <td><input id="cbBenutzerZugriff" class="form-check-input" type="checkbox" class="checkbox-big"/></td>
              <td><input id="cbBenutzerNeu" class="form-check-input" type="checkbox" class="checkbox-big"/></td>
              <td><input id="cbBenutzerAendern" class="form-check-input" type="checkbox" class="checkbox-big"/></td>
              <td><input id="cbBenutzerLoeschen" class="form-check-input" type="checkbox" class="checkbox-big"/></td>
            </tr>
            <tr>
              <th class="text-nowrap" scope="row">Gebühreneinstellungen</th>
              <td><input id="cbGebuehrenEinstellungZugriff" class="form-check-input" type="checkbox" class="checkbox-big"/></td>
              <td><input id="cbGebuehrenEinstellungNeu" class="form-check-input" type="checkbox" class="checkbox-big"/></td>
              <td><input id="cbGebuehrenEinstellungAendern" class="form-check-input" type="checkbox" class="checkbox-big"/></td>
              <td><input id="cbGebuehrenEinstellungLoeschen" class="form-check-input" type="checkbox" class="checkbox-big"/></td>
            </tr>
            <tr>
              <th class="text-nowrap" scope="row">Registerpflege</th>
              <td><input id="cbRegisterZugriff" class="form-check-input" type="checkbox" class="checkbox-big"/></td>
              <td><input id="cbRegisterNeu" class="form-check-input" type="checkbox" class="checkbox-big"/></td>
              <td><input id="cbRegisterAendern" class="form-check-input" type="checkbox" class="checkbox-big"/></td>
              <td><input id="cbRegisterLoeschen" class="form-check-input" type="checkbox" class="checkbox-big"/></td>
            </tr>
            <tr>
              <th class="text-nowrap" scope="row">Verleihmodul selber bedienen</th>
              <td><input id="cbVerleihmodulZugriff" class="form-check-input" type="checkbox" class="checkbox-big"/></td>
            </tr>
            <tr>
              <th class="text-nowrap" scope="row">Einnahmen / Kassabuch</th>
              <td><input id="cbKassabuchZugriff" class="form-check-input" type="checkbox" class="checkbox-big"/></td>
            </tr>
            <tr>
              <th class="text-nowrap" scope="row">Gebühren: Restschuld erlassen</th>
              <td><input id="cbGebuehrenSchuldZugriff" class="form-check-input" type="checkbox" class="checkbox-big"/></td>
            </tr>
            <tr>
              <th class="text-nowrap" scope="row">Statistik / Login-Report</th>
              <td><input id="cbStatistikZugriff" class="form-check-input" type="checkbox" class="checkbox-big"/></td>
            </tr>
            <tr>
              <th class="text-nowrap" scope="row">Etikettendruck</th>
              <td><input id="cbEtikettenZugriff" class="form-check-input" type="checkbox" class="checkbox-big"/></td>
            </tr>
            <tr>
              <th class="text-nowrap" scope="row">Ausweisdruck</th>
              <td><input id="cbAusweisZugriff" class="form-check-input" type="checkbox" class="checkbox-big"/></td>
            </tr>
            <tr>
              <th class="text-nowrap" scope="row">Mahnwesen / Mitteilungen an Benutzer</th>
              <td><input id="cbMitteilungenZugriff" class="form-check-input" type="checkbox" class="checkbox-big"/></td>
            </tr>
            <tr class="bg-danger text-light">
                  <th class="text-nowrap" scope="row">ADMINISTRATORRECHTE</th>
                  <td><input id="cbKassabuchZugriff" class="form-check-input" type="checkbox" class="checkbox-big"/></td>
                  <td colspan=3><label>
                      ACHTUNG! Nur für Bibliotheksadministrator aktivieren!
                  </label></td>
           </tr>
          </tbody>
        </table>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="cbDatenEinwilligung">
          <label class="form-check-label" for="cbDatenEinwilligung">
            Der Benutzer ermächtigt das Bibliothekspersonal, seine historischen Entlehndaten abfragen zu dürfen.
          </label>
        </div>

    </div>

    <!--Inhalt-->
    <div class="tab-pane fade" id="inhalt" role="tabpanel" aria-labelledby="nav-contact-tab">Inhalt</div>

    <div class="tab-pane fade" id="weiteres" role="tabpanel" aria-labelledby="nav-contact-tab">weitere Felder</div>
</div>


<!--"Footer"-->
<br />
<button type="button" class="btn btn-new">Neuer Eintrag</button>
<button type="button" class="btn btn-loeschen">Löschen</button>
<button type="button" class="btn btn-abbrechen">Abbrechen</button>
<button type="button" class="btn btn-speichern">Speichern</button>
<button type="button" class="btn btn-light">Duplizieren</button>

<!-- grid:

    <div class="row">
    <div class="col-sm">
    One of three columns
    </div>
    <div class="col-sm">
    One of three columns
    </div>
    <div class="col-sm">
    One of three columns
    </div>
    </div>
-->