@page
@model BibliotheksSoftware.Pages.Pages_Mediendatenpflege
@{
}
<head>
    <link rel="stylesheet" href="~/css/Mediendatenpflege.css" type="text/css" />
</head>

<h4>Mediendatenpflege</h4>

<nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#titeldaten" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Titeldaten</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#verfasser" type="button" role="tab" aria-controls="nav-profile" aria-selected="false">Verfasser</button>
        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#verlag" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Verlag</button>
        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#inhalt" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Inhalt</button>
        <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#weiteres" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">weitere Felder</button>
    </div>
</nav>

<div class="tab-content" id="nav-tabContent">
    <!--Titeldaten-->
    <div class="tab-pane fade show active" id="titeldaten" role="tabpanel" aria-labelledby="nav-home-tab">
        <div class="row mt-3">
            <div class="input-group input-group-sm mb-3  col">
                <span class="input-group-text">Mediennummer</span>
                <input type="number" class="form-control" id="inputMediennummer" min="1" input>
            </div>

            <div class="input-group input-group-sm mb-3  col">
                <span class="input-group-text">Medienart</span>
                <select class="form-select" id="inputMedienart" aria-label="Default select example">
                    <option selected></option>
                    <option value="1">Buch</option>
                    <option value="2">CD-Audio</option>
                    <option value="2">CD-ROM</option>
                    <option value="3">Dokument</option>
                    <option value="4">DVD-ROM</option>
                    <option value="5">MC-Audio</option>
                    <option value="6">MC-Hoerbuch</option>
                    <option value="7">Spiel</option>
                    <option value="8">Video</option>
                    <option value="9">Zeitschrift</option>
                </select>
            </div>

            <div class="input-group input-group-sm mb-3  col">
                <span class="input-group-text">Systematik</span>
                <input type="text" class="form-control" id="inputSystematik" input>
            </div>

            <div class="input-group input-group-sm mb-3  col">
                <span class="input-group-text">ISBN</span>
                <input type="text" class="form-control" id="inputISBN" input>
            </div>
        </div>

        <div class="input-group input-group-sm mb-3 ">
            <span class="input-group-text">Sachtitel</span>
            <input type="text" class="form-control" id="inputSachtitel" input>
        </div>
        <div class="input-group input-group-sm mb-3 ">
            <span class="input-group-text">Titelzusatz</span>
            <input type="text" class="form-control" id="inputTitelzusatz" input>
        </div>
        <div class="input-group input-group-sm mb-3 ">
            <span class="input-group-text">Nebeneintragung</span>
            <input type="text" class="form-control" id="inputNebeneintragung" input>
        </div>


        <div class="row">
            <div class="col-8">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Reihentitel</span>
                    <input type="text" class="form-control" id="inputReihentitel" input>
                </div>
            </div>
            <div class="col-4">
                <div class="input-group input-group-sm mb-3">
                    <span class="input-group-text">Bandaufführung</span>
                    <input type="text" class="form-control" id="inputBandaufführung" input>
                </div>
            </div>
        </div>


        <div class="input-group input-group-sm mb-3 ">
            <span class="input-group-text">Fußnote 1</span>
            <input type="text" class="form-control" id="inputFußnote1" input>
        </div>

        <div class="input-group input-group-sm mb-3 ">
            <span class="input-group-text">Fußnote 2</span>
            <input type="text" class="form-control" id="inputFußnote2" input>
        </div>
    </div>

    <!--Verfasser-->
    <div class="tab-pane fade" id="verfasser" role="tabpanel" aria-labelledby="nav-profile-tab">
        <div class="input-group input-group-sm mb-3  mt-3">
            <span class="input-group-text">Verfasser 1</span>
            <input type="text" class="form-control" id="inputVerfasser1" input>
        </div>
        <div class="input-group input-group-sm mb-3 ">
            <span class="input-group-text">Verfasser 2</span>
            <input type="text" class="form-control" id="inputVerfasser2" input>
        </div>
        <div class="input-group input-group-sm mb-3 ">
            <span class="input-group-text">Verfasser 3</span>
            <input type="text" class="form-control" id="inputVerfasser3" input>
        </div>

        <div class="row">
            <div class="input-group input-group-sm mb-3 col">
                <span class="input-group-text">Beteiligte Person 1</span>
                <input type="text" class="form-control" id="inputbetPerson1" input>
            </div>
            <div class="input-group input-group-sm mb-3 col">
                <span class="input-group-text">Funktion</span>
                <input type="text" class="form-control" id="inputFunktion1" input>
            </div>
        </div>
        <div class="row">
            <div class="input-group input-group-sm mb-3 col">
                <span class="input-group-text">Beteiligte Person 2</span>
                <input type="text" class="form-control" id="inputbetPerson2" input>
            </div>
            <div class="input-group input-group-sm mb-3 col">
                <span class="input-group-text">Funktion</span>
                <input type="text" class="form-control" id="inputFunktion2" input>
            </div>
        </div>
        <div class="row">
            <div class="input-group input-group-sm mb-3 col">
                <span class="input-group-text">Beteiligte Person 3</span>
                <input type="text" class="form-control" id="inputbetPerson3" input>
            </div>
            <div class="input-group input-group-sm mb-3 col">
                <span class="input-group-text">Funktion</span>
                <input type="text" class="form-control" id="inputFunktion3" input>
            </div>
        </div>
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text">Verweis, Pseudonym, ...</span>
            <input type="text" class="form-control" id="inputVerweis" input>
        </div>
        <div class="input-group input-group-sm mb-3">
            <span class="input-group-text">Verfasserangabe</span>
            <input type="text" class="form-control" id="inputVerfasserAngabe" input>
        </div>
    </div>


    <!--Verlag-->
    <div class="tab-pane fade" id="verlag" role="tabpanel" aria-labelledby="nav-contact-tab">
        <div class="row mt-3">
            <div class="input-group input-group-sm mb-3 col">
                <span class="input-group-text">Verlag</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="inputVerlag">
            </div>
            <div class="input-group input-group-sm mb-3 col ">
                <span class="input-group-text">Verlagsorte</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="inputVerlagssorte">
            </div>
        </div>

        <div class="row">
            <div class="input-group input-group-sm mb-3 col">
                <span class="input-group-text">Erscheinungsjahr</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="inputErscheinungsjahr">
            </div>
            <div class="input-group input-group-sm mb-3 col">
                <span class="input-group-text">Ausgabe</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="inputAusgabe">
            </div>
            <div class="input-group input-group-sm mb-3 col">
                <span class="input-group-text">Sprache</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="inputSprache">
            </div>
            <div class="input-group input-group-sm mb-3 col">
                <span class="input-group-text">Art der Bindung</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="inputBindung">
            </div>
        </div>

        <div class="row">
            <div class="col-3">
                <div class="input-group input-group-sm mb-3 col">
                    <span class="input-group-text">Beigaben</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="inputBeigaben">
                </div>
            </div>
            <div class="col-3">
                <div class="input-group input-group-sm mb-3 col">
                    <span class="input-group-text">Umfang</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="inputUmfang">
                </div>
            </div>
            <div class="col-4">
                <div class="input-group input-group-sm mb-3 col">
                    <span class="input-group-text">Illustrationsvermerk</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="inputIllustrationsvermerk">
                </div>
            </div>
            <div class="col-2">
                <div class="input-group input-group-sm ">
                    <span class="input-group-text">Preis</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="inputPreis">
                </div>
            </div>

        </div>
        <div class="row">
            <div class="input-group input-group-sm mb-3 col">
                <span class="input-group-text">ISBN-10</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="inputISBN10">
            </div>
            <div class="input-group input-group-sm mb-3 col">
                <span class="input-group-text">ISBN-13</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="inputISBN13">
            </div>
        </div>
        <div class="row">
            <div class="input-group input-group-sm mb-3 col">
                <span class="input-group-text">ISMN</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="inputISMN">
            </div>
            <div class="input-group input-group-sm mb-3 col">
                <span class="input-group-text">ISSN</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="inputISSN">
            </div>
        </div>
    </div>

    <!--Inhalt-->
    <div class="tab-pane fade" id="inhalt" role="tabpanel" aria-labelledby="nav-contact-tab">
        <div class="input-group mt-3">
            <span class="input-group-text">Schlagwort</span>
            <textarea class="form-control" aria-label="With textarea" id="inputSchlagwort"></textarea>
        </div>
        <br />

        <div class="row">
            <div class="col-10"></div>
            <div class="col-2">
                <input class="btn btn-primary" type="button" value="Hinzufügen" id="btnHinzufügen">
                <input class="btn btn-primary" type="button" value="Register" id="btnHinzufügen">
            </div>

        </div>
        <br />
        <div class="input-group">
            <span class="input-group-text">Inhaltsangabe</span>
            <textarea class="form-control" aria-label="With textarea" id="inputInhaltsangabe"></textarea>
        </div>
        <br />
        <div class="input-group input-group-sm ">
            <span class="input-group-text">Quelle:</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="inputQuelle">
        </div>
        <br />
        <div class="input-group input-group-sm ">
            <span class="input-group-text">Hinweis:</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="inputHinweis">
        </div>
    </div>


    <!--Weitere Felder-->
    <div class="tab-pane fade" id="weiteres" role="tabpanel" aria-labelledby="nav-contact-tab">
        <div class="row mt-3">
            <div class="col-8">
                <div class="input-group input-group-sm ">
                    <span class="input-group-text">Erwerbsart</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="inputErwerbsart">
                </div>
            </div>
            <div class="col-4">
                <div class="input-group input-group-sm ">
                    <span class="input-group-text">Erwerbsdatum</span>
                    <input type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="inputErwerbsdatum">
                </div>
            </div>
        </div>
        <br />
        <div class="input-group input-group-sm ">
            <span class="input-group-text">Bezugsquelle</span>
            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="inputBezugsquelle">
        </div>
        <br />
        <div class="row">
            <div class="col-5">
                <div class="input-group input-group-sm ">
                    <span class="input-group-text">Rechnungsdaten</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="inputRechnungsdaten">
                </div>
            </div>
            <div class="col-3">
                <div class="input-group input-group-sm mb-3 fitContent col">
                    <span class="input-group-text">Status</span>
                    <select class="form-select" id="inputStatus" aria-label="Default select example">
                        <option selected></option>
                        <option value="1">reserviert</option>
                        <option value="2">verfügbar</option>
                        <option value="2">ausgeliehen</option>
                        <option value="3">makuliert</option>
                    </select>
                </div>
            </div>
            <div class="col-4">
                <div class="input-group input-group-sm ">
                    <span class="input-group-text">Eigentum</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="inputEigentum">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="input-group input-group-sm ">
                    <span class="input-group-text">Nebenstandort</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="inputNebenstandort">
                </div>
            </div>
            <div class="col-6">
                <div class="input-group input-group-sm ">
                    <span class="input-group-text">Reservierung</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="inputReservierung">
                </div>
            </div>
        </div>
        <br />
        <div class="input-group">
            <span class="input-group-text">Anmerkungen</span>
            <textarea class="form-control" aria-label="With textarea" id="inputAnmerkungen"></textarea>
        </div>
        <br />
        <div class="row">
            <div class="input-group input-group-sm ">
                <span class="input-group-text">Zusätzliche Infos - Link</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="inpuZusatzInfos">
            </div>
        </div>
        <br />
        <div class="row">
            <div class="input-group input-group-sm ">
                <span class="input-group-text">Eigenes Titelbild - Link</span>
                <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="inpuTitelbild">
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-3">
                <div class="input-group input-group-sm ">
                    <span class="input-group-text">Katalogisierungsdatum</span>
                    <input type="date" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="inputKatDatum">
                </div>
            </div>
            <div class="col-3">
                <div class="input-group input-group-sm ">
                    <span class="input-group-text">VON</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="inputVon">
                </div>
            </div>
            <div class="col-3">
                <div class="input-group input-group-sm ">
                    <span class="input-group-text">Inventurdatum</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="inputInventurdatum">
                </div>
            </div>
            <div class="col-3">
                <div class="input-group input-group-sm ">
                    <span class="input-group-text">letzte Änderung</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="inputletzteAenderung">
                </div>
            </div>

        </div>
    </div>
</div>



<!--"Footer"-->
<br />
<button type="button" class="btn btn-new">Neuer Eintrag</button>
<button type="button" class="btn btn-markulieren">Markulieren</button>
<button type="button" class="btn btn-loeschen">Löschen</button>
<button type="button" class="btn btn-abbrechen">Abbrechen</button>
<button type="button" class="btn btn-speichern">Speichern</button>
<button type="button" class="btn btn-light">Duplizieren</button>