@page
@model Pages_Medienrecherche
@{
    ViewData["Title"] = "Mitarbeiter Startseite";
}

<h4>Mitarbeiter Startseite</h4>

<div class="container">
    <div>
        <a href="https://google.at">
            <img class="" width="75px" height="75px" src="../images/Verleih.png" />
            Medienverleih und Rückgabe
        </a>
    </div>
    <div>

        <a href="/Medienrecherche">Medienrecherche</a>
    </div>
    <div>
        <a>Reservieren</a>
    </div>
    <div class="col-sm">Mediendatenpflege</div>
    <div class="col-sm">Benutzerdatenpflege</div>
</div>